@font-face {
  font-family: sohne-mono;
  src: url(SohneMono-Buch-nw0tq6nz.woff2) format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: sohne-mono;
  src: url(SohneMono-Extraleicht-go1wmkkx.woff2) format("woff2");
  font-weight: 100;
  font-style: normal;
  font-display: block;
}
* {
  box-sizing: border-box;
  -webkit-text-size-adjust: none;
}
:root {
  --color-dark: #111;
  --color-light: #efefef;
  --color-amber: #ffa621;
  --background: #9ca3a1;
  --pageMargin: 16px;
}
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: var(--background);
  font-family: sohne-mono, monospace;
  letter-spacing: -0.01em;
  background: url(top-m19ajhox.jpg);
  background-size: 100vw 200px;
  background-repeat: repeat-y;
  background-position: 0 0;
  touch-action: none;
  overflow: hidden;
  -webkit-user-drag: none;
  user-drag: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
@media (min-aspect-ratio: 1 / 1) {
  html,
  body {
    background: url(right-b2uq9eeh.jpg);
    background-size: 20px 100vh;
    background-repeat: repeat-x;
  }
}
@media (min-aspect-ratio: 16 / 9) {
  html,
  body {
    background: url(right-b2uq9eeh.jpg);
    background-size: 20px 56.9vw;
  }
}
button {
  font-family: sohne-mono, monospace;
  font-size: 11.7px;
  line-height: 1;
  letter-spacing: -0.01em;
  text-transform: uppercase;
}
._noise_11ikr_2 {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 200;
  opacity: 0.1;
  transition: opacity 0.5s;
  pointer-events: none;
  background: url(paper-hnq2hg7u.jpg);
  background-size: 12vw 12vw;
  animation: _jitter_11ikr_1 0.2s steps(1, start) infinite;
}
@keyframes _jitter_11ikr_1 {
  0% {
    background-position: 50px 0px;
  }
  10% {
    background-position: 0px 50px;
  }
  20% {
    background-position: 12px 2px;
  }
  30% {
    background-position: 80px 4px;
  }
  40% {
    background-position: 1px 10px;
  }
  50% {
    background-position: 11px 90px;
  }
  60% {
    background-position: 9px 80px;
  }
  70% {
    background-position: 20px 20px;
  }
  80% {
    background-position: 100px 8px;
  }
  90% {
    background-position: 90px 15px;
  }
  to {
    background-position: 40px 3px;
  }
}
._container_nag8h_1 {
  --color-crt-main: var(--color-amber) !important;
  --glowColor: rgba(255, 149, 0, 1) !important;
  --border-glow:
    0px 0px 5px var(--glowColor), 0px 0px 5px var(--glowColor) inset;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1.5vh;
  z-index: 11;
  font-family: monospace;
  color: var(--color-crt-main);
  font-size: clamp(12px, 1.8vh, 1.8vw);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-shadow: 0px 0px 5px var(--glowColor);
  filter: blur(0.5px);
}
._containerFade_nag8h_24 {
  animation: _flashOut_nag8h_1 3s forwards;
  pointer-events: none;
}
._background_nag8h_29 {
  background-color: var(--color-dark);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  opacity: 1;
  z-index: 11;
  transition: opacity 1s ease-in-out;
}
._backgroundFallback_nag8h_42 {
  background-color: #111;
}
._backgroundFade_nag8h_46 {
  opacity: 0;
}
._stream_nag8h_50 {
  pointer-events: none;
}
._streamShow_nag8h_54 {
  pointer-events: all;
}
._logoMark_nag8h_58 {
  margin: 0;
  grid-area: logo;
}
._logoMeta_nag8h_63 {
  margin: 0;
  grid-area: meta;
  justify-self: flex-end;
  align-self: flex-start;
}
._bootText_nag8h_70 {
  grid-row: 2 / -1;
}
._blinker_nag8h_74 {
  grid-area: meta;
  justify-self: flex-end;
  align-self: flex-end;
}
._inner_nag8h_80 {
  width: min(100%, max(1300px, 60vw));
  height: 100%;
  border: 2px solid var(--color-crt-main);
  box-shadow: var(--border-glow);
  padding: 30px;
  overflow: auto;
}
._inner_nag8h_80::-webkit-scrollbar {
  width: 12px;
}
._inner_nag8h_80::-webkit-scrollbar-thumb {
  background-color: var(--color-crt-main);
  border-top: 4px solid var(--color-dark);
  border-right: 4px solid var(--color-dark);
  border-bottom: 4px solid var(--color-dark);
}
._grid_nag8h_100 {
  min-height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: auto auto auto auto auto 1fr;
  grid-template-areas: "logo logo meta" "volu uptm capa" "coun city city" "data city city" "data curr curr" "foot foot foot";
  column-gap: 4vw;
  row-gap: 3vh;
  grid-auto-rows: auto;
}
._metrics_nag8h_118 {
  grid-area: data;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2vh;
}
._item_nag8h_126 {
  display: flex;
  flex-direction: column;
  gap: 1vh;
}
._itemRow_nag8h_132 {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  gap: 0.5vw;
}
._txnCount_nag8h_140 {
  grid-area: coun;
}
._txnCountValue_nag8h_144 {
  font-size: clamp(24px, 3.5vh, 3.5vw);
}
._txnVolume_nag8h_148 {
  grid-area: volu;
}
._txnVolumeValue_nag8h_152 {
  font-size: clamp(24px, 3.5vh, 3.5vw);
}
._cities_nag8h_156 {
  grid-area: city;
}
._cityGrid_nag8h_160 {
  width: 100%;
  display: grid;
  grid-template-columns: 6ch 1fr 1fr;
  grid-auto-rows: auto;
  row-gap: 0.5vh;
}
._location_nag8h_168 {
  justify-self: flex-end;
}
._currencyVolume_nag8h_172 {
  grid-area: curr;
}
._currencyVolumeGrid_nag8h_176 {
  width: 100%;
  display: grid;
  grid-template-columns: 6ch 1fr 1fr 1fr;
  grid-auto-rows: auto;
  row-gap: 0.5vh;
}
._currencyVolumeLabelUsd_nag8h_184,
._currencyVolumeValUsd_nag8h_188 {
  justify-self: flex-end;
}
._label_nag8h_192 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
._uptime_nag8h_199 {
  grid-area: uptm;
}
._uptimeBar_nag8h_203 {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 1px;
}
._uptimeTick_nag8h_210 {
  flex-basis: 100%;
  font-size: 1.5ch;
}
._uptimeGreen_nag8h_215 {
  background-color: var(--color-crt-green);
  box-shadow: 0 0 6px 0 var(--color-crt-green);
}
._uptimeYellow_nag8h_220 {
  background-color: var(--color-crt-yellow);
  box-shadow: 0 0 3px var(--color-crt-yellow);
}
._uptimeYellow_nag8h_220 {
  background-color: var(--color-crt-red);
  box-shadow: 0 0 6px 0 var(--color-crt-red);
}
._capacity_nag8h_230 {
  grid-area: capa;
}
._capacityBar_nag8h_234 {
  padding: 0.5vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 2vh;
  border: 2px solid var(--color-crt-main);
  box-shadow: var(--border-glow);
}
._capacityTick_nag8h_244 {
  width: 100%;
  height: 100%;
  transform-origin: left center;
  transition: transform 2s ease-in-out;
  background-color: var(--color-crt-main);
  box-shadow: 0 0 6px 0 var(--color-crt-main);
}
._dottedSpacer_nag8h_253 {
  flex-basis: 100%;
  height: 100%;
  border-bottom: 0.3vh dotted var(--color-crt-main);
  transform: translateY(-0.4vh);
}
._footer_nag8h_260 {
  display: grid;
  grid-template-columns: subgrid;
  grid-area: foot;
  align-content: flex-end;
}
._close_nag8h_267 {
  color: var(--color-crt-main);
  pointer-events: auto;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
  width: min-content;
  text-wrap: nowrap;
  display: inline-block;
  background: none;
  font-size: clamp(12px, 1.8vh, 1.8vw);
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  align-self: end;
  text-shadow: 0px 0px 5px var(--glowColor);
}
._gptn_nag8h_284 {
  grid-column: 2 / 4;
  text-align: right;
  align-self: end;
}
._gptn_nag8h_284,
._snakePrompt_nag8h_291 {
  grid-row: 1 / 2;
  grid-column: 1 / 4;
  text-align: right;
  align-self: end;
  pointer-events: none;
}
._privacy_nag8h_299 {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  align-self: end;
  color: var(--color-crt-main);
  pointer-events: auto;
  text-decoration: none;
}
._privacy_nag8h_299._privacyError_nag8h_308 {
  grid-column: 1 / 2;
  justify-self: start;
}
._bouncerContainer_nag8h_313 {
  display: flex;
  flex-direction: column;
  grid-column: 1 / -1;
  grid-row: 2 / -1;
  align-items: center;
  justify-content: center;
  gap: 1vh;
  position: relative;
  pointer-events: none;
}
._bouncer_nag8h_313 {
  width: 33vw;
  height: 12vw;
  display: block;
  position: absolute;
  max-width: 300px;
  top: 0;
  left: 0;
}
._bouncerSvg_nag8h_335 {
  width: 100%;
  height: 100%;
  color: var(--color-crt-main);
  filter: drop-shadow(0px 0px 5px var(--glowColor));
}
@media (max-width: 1060px) {
  ._container_nag8h_1 {
    font-size: 16px;
  }
  ._bootText_nag8h_70 {
    grid-row: 3 / -1;
  }
  ._privacy_nag8h_299 {
    grid-column: 2 / 3;
  }
  ._gptn_nag8h_284 {
    grid-column: 3 / -1;
  }
  ._close_nag8h_267 {
    grid-column: 1 / 2;
  }
  ._grid_nag8h_100 {
    grid-template-areas: "logo logo meta" "coun volu volu" "uptm capa capa" "curr curr curr" "city city city" "data data data" "foot foot foot";
  }
}
@media (max-width: 760px) {
  ._container_nag8h_1 {
    font-size: 3vw;
    padding: 1vh;
  }
  ._inner_nag8h_80 {
    padding: 20px;
  }
  ._bouncerContainer_nag8h_313 {
    grid-row: 3 / -1;
  }
  ._grid_nag8h_100 {
    grid-template-areas: "logo logo logo" "meta meta meta" "volu volu volu" "coun coun coun" "uptm uptm uptm" "capa capa capa" "curr curr curr" "city city city" "data data data" "foot foot foot";
  }
  ._footer_nag8h_260 {
    row-gap: 12px;
  }
  ._blinker_nag8h_74 {
    grid-column: 1 / 2;
    justify-self: start;
  }
  ._close_nag8h_267 {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
  }
  ._privacy_nag8h_299 {
    grid-row: 1 / 2;
    grid-column: 3 / -1;
    justify-self: end;
  }
  ._gptn_nag8h_284 {
    grid-row: 2 / 3;
    grid-column: 2 / -1;
  }
}
@keyframes _flashOut_nag8h_1 {
  0% {
    filter: blur(2px);
  }
  to {
    filter: blur(20px);
    opacity: 0;
  }
}
._container_saapz_1 {
  grid-column: 1 / -1;
  grid-row: 2 / -1;
  margin-bottom: 30px;
  position: relative;
}
._canvas_saapz_8 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid var(--color-crt-main);
  box-shadow: var(--border-glow);
}
._startButton_saapz_18 {
  color: var(--color-crt-main);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: none;
  border: none;
  pointer-events: auto;
  font-size: 2vh;
  padding: 12px;
  box-shadow: var(--border-glow);
  text-shadow: var(--text-glow);
  z-index: 1;
  cursor: pointer;
}
._startButton_saapz_18:hover {
  border: 2px solid var(--color-crt-main);
}
._score_saapz_40 {
  position: absolute;
  bottom: -30px;
}
._esc_saapz_45 {
  position: absolute;
  bottom: -30px;
  right: 0;
}
@media (max-width: 760px) {
  ._snakeContainer_saapz_52 {
    grid-row: 3 / -1;
  }
}
._ui_3unaz_1 {
  -webkit-user-select: none;
  user-select: none;
  opacity: 0;
  transition: opacity 1s 0.5s;
}
._machineTranslate_3unaz_7 {
  position: fixed;
  left: 0;
  top: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  gap: 20px;
  transition: transform 0.5s;
}
._machineContainer_3unaz_18 {
  position: absolute;
  left: 0;
  top: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  transition:
    transform 1s,
    transform-origin 1s;
}
@media (min-aspect-ratio: 16 / 7.5) {
  ._machineContainer_3unaz_18 {
    overflow-y: auto;
  }
}
._timeNav_s71o8_1 {
  position: relative;
}
._timePill_s71o8_5:first-of-type {
  z-index: 0;
}
._timeNav_s71o8_1:hover ._timePill_s71o8_5:nth-of-type(2) {
  transform: translateY(calc(100% - 1px));
  z-index: 1;
}
._timeNav_s71o8_1:hover ._timePill_s71o8_5:nth-of-type(3) {
  transform: translateY(calc(200% - 2px));
  z-index: 2;
}
._timePill_s71o8_5 {
  position: absolute;
  left: 0;
  top: 0;
  white-space: nowrap;
  transition: transform 0.3s;
}
._timePill_s71o8_5:hover {
  background: #fff;
}
._lightPill_1fm4j_1 {
  display: flex;
  gap: 4px;
  align-items: center;
  border-radius: 50px;
  padding: 7px 10px 8px;
  background: var(--color-light);
  border: 1px solid var(--color-dark);
  color: var(--color-dark);
  line-height: 1;
  cursor: pointer;
  white-space: nowrap;
}
._lightPill_1fm4j_1:hover {
  background: #fff;
}
._darkPill_13e1e_1 {
  position: relative;
  display: flex;
  gap: 4px;
  align-items: center;
  border-radius: 50px;
  padding: 7px 10px 8px;
  background: #a4b6b5;
  line-height: 1;
  border: 1px solid var(--color-dark);
  cursor: pointer;
  transition: background 0.2s;
  color: var(--color-dark);
}
._darkPill_13e1e_1 svg {
  fill: var(--color-dark);
}
._darkPillDissolve_13e1e_20 {
  position: absolute;
  left: -1px;
  top: -1px;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  display: flex;
  gap: 4px;
  align-items: center;
  border-radius: 50px;
  padding: 7px 10px 8px;
  background: var(--color-dark);
  border: 1px solid var(--color-dark);
  line-height: 1;
  color: var(--color-light);
  white-space: nowrap;
  transition:
    filter 0.5s,
    transform 0.3s,
    opacity 0.3s;
}
._darkPill_13e1e_1 ._darkPillDissolve_13e1e_20 svg {
  fill: var(--color-light) !important;
}
@media (pointer: fine) {
  ._darkPill_13e1e_1:hover ._darkPillDissolve_13e1e_20 {
    filter: blur(12px);
    transform: scale(1.3);
    opacity: 0;
  }
}
._topNav_x2w7d_1 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: var(--pageMargin);
  display: flex;
  justify-content: space-between;
  z-index: 10;
  color: var(--color-light);
  font-size: 11.7px;
  text-transform: uppercase;
  font-family: sohne-mono;
  pointer-events: none;
}
._left_x2w7d_17,
._right_x2w7d_18 {
  display: flex;
  pointer-events: auto;
}
._logoPill_x2w7d_23 {
  border-radius: 50px;
  padding: 6.5px 10px 3px;
  background: var(--color-dark);
}
._liveHover_x2w7d_29 {
  position: absolute;
  left: 0;
  top: 30px;
  padding: 7px 10px 8px;
  background: var(--color-dark);
  border-radius: 8px;
  width: 270px;
  line-height: 1.3;
  opacity: 0;
  outline: 5px solid transparent;
  transition:
    opacity 0.5s,
    filter 0.5s,
    transform 0.5s;
  pointer-events: none;
  filter: blur(10px);
  transform: translateY(-20px);
  transition-behavior: allow-discrete;
  text-align: left;
}
._liveDot_x2w7d_48 {
  animation: _pulse_x2w7d_1 2s infinite;
  fill: #fff;
}
._offlineDot_x2w7d_53 {
  animation: _pulse_x2w7d_1 0.3s infinite;
  fill: #000;
}
@keyframes _pulse_x2w7d_1 {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
._livePill_x2w7d_75 {
  position: relative;
  display: flex;
  gap: 4px;
  align-items: center;
  border-radius: 50px;
  padding: 7px 10px 8px;
  background: var(--color-dark);
  line-height: 1;
  border: 1px solid var(--color-dark);
  cursor: pointer;
  transition: background 0.2s;
  color: var(--color-light);
}
._livePill_x2w7d_75:hover ._liveHover_x2w7d_29 {
  opacity: 1;
  filter: none;
  pointer-events: auto;
  display: block;
  transform: none;
}
._bottomNav_176wj_2 {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 4px var(--pageMargin) var(--pageMargin);
  display: flex;
  z-index: 10;
  color: var(--color-light);
  font-size: 11.7px;
  text-transform: uppercase;
  font-family: sohne-mono;
  align-items: center;
  justify-content: flex-end;
  pointer-events: none;
}
._manualNav_176wj_19 {
  display: flex;
  pointer-events: auto;
}
._defaultNav_176wj_24 {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
._defaultNav_176wj_24 a {
  text-decoration: none;
  color: var(--color-dark);
  pointer-events: auto;
}
._defaultNavRight_176wj_37 {
  display: flex;
  pointer-events: auto;
}
._defaultNav_176wj_24 {
  display: flex;
}
._closeMobile_176wj_46 {
  display: none;
  font-size: 15px;
  line-height: 0.5;
  margin-top: -1px;
}
._pageTitlePill_176wj_53 {
  display: none;
  width: 100%;
  overflow: hidden;
}
._pageList_176wj_59 {
  display: none;
}
@media (max-aspect-ratio: 1 / 1) {
  ._bottomNav_176wj_2,
  ._manualNav_176wj_19 {
    width: 100%;
  }
  ._pageList_176wj_59 {
    position: absolute;
    display: flex;
    bottom: 48px;
    width: 100%;
    left: 0;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    transform: scale(0.88);
    transform-origin: 50% 100%;
  }
  ._pageList_176wj_59 > * {
    margin-top: -28.7px;
    transition: transform 0.5s;
    white-space: nowrap;
    overflow: hidden;
  }
  ._pageTitlePill_176wj_53 {
    display: block;
    white-space: nowrap;
    overflow: hidden;
  }
  ._closeDesktop_176wj_93 {
    display: none;
    margin-left: 8px;
  }
  ._closeMobile_176wj_46 {
    display: block;
  }
  ._infoContainer_176wj_100 {
    display: none;
  }
}
@media (pointer: coarse) {
  ._infoContainer_176wj_100 {
    display: none;
  }
}
._homePill_176wj_111 {
  font-size: 16px;
  line-height: 0.5;
  padding-bottom: 11px;
}
._infoContainer_176wj_100 {
  position: relative;
  pointer-events: auto;
}
._infoWindow_176wj_122 {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0;
  bottom: 0;
  background: var(--color-dark);
  border-radius: 4px;
  color: var(--color-light);
  padding: 8px 10px 12px;
  opacity: 0;
  transform: translateY(-14px);
  transition:
    opacity 0.5s,
    filter 0.5s,
    transform 0.5s;
  filter: blur(10px);
  pointer-events: none;
}
._infoContainer_176wj_100:hover ._infoWindow_176wj_122 {
  opacity: 1;
  filter: none;
  transform: translateY(-34px);
  pointer-events: auto;
}
._infoRow_176wj_146 {
  white-space: nowrap;
}
._pageTitle_176wj_53 {
  --marqueeOffset: -500px;
  animation: _marquee_176wj_1 3s linear infinite;
}
@keyframes _marquee_176wj_1 {
  0% {
    transform: translate(0);
  }
  to {
    transform: translate(var(--marqueeOffset));
  }
}
._videoContainer_1xyyf_1 video,
._videoContainer_1xyyf_1 img {
  width: 195%;
  height: 100%;
}
._videoContainer_1xyyf_1 img {
  position: absolute;
  left: 0;
  top: 0;
}
@media (min-aspect-ratio: 16 / 9) {
  ._videoContainer_1xyyf_1 video,
  ._videoContainer_1xyyf_1 img {
    height: auto;
    width: 100%;
  }
}
._videoContainer_1xyyf_1 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  left: 0;
  top: 2px;
  opacity: 0;
  filter: blur(30px);
  transition:
    opacity 2s 1s,
    filter 2s 1s,
    transform 2s 1s;
}
._manualOverlay_895i9_1 {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  aspect-ratio: 0.57;
  height: 85%;
}
@media (min-aspect-ratio: 1 / 1) {
  ._manualOverlay_895i9_1 {
    width: 50vh;
    width: 50svh;
    left: auto;
    right: 0;
    transform: translateY(-50%);
  }
}
._dragArea_895i9_19 {
  position: relative;
  width: 100%;
  height: 100%;
  cursor: grab;
}
._dragArea_895i9_19:active {
  cursor: grabbing;
}
._machineOverlay_1yr6s_1 {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: 0;
  width: 177.7777vh;
  height: 100%;
  aspect-ratio: 16 / 9;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}
@media (min-aspect-ratio: 16 / 9) {
  ._machineOverlay_1yr6s_1 {
    height: 56.25vw;
    width: 100%;
  }
}
@media (max-aspect-ratio: 1 / 1) {
  ._machineOverlay_1yr6s_1 {
    width: 195%;
    top: auto;
  }
  ._hitAreas_1yr6s_29 {
    opacity: 0;
  }
  ._tooltip_1yr6s_33,
  ._line_1yr6s_34 {
    display: none !important;
  }
}
@media (max-aspect-ratio: 91.3 / 99.2) {
  ._machineOverlay_1yr6s_1:after {
    content: "";
    position: absolute;
    left: 50%;
    top: calc(50% + 44.3vw);
    width: 100%;
    height: 500px;
    background: red;
    transform: translate(-50%);
    background: url(top-m19ajhox.jpg);
  }
}
._hitAreas_1yr6s_29 {
  position: relative;
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 9;
  overflow: hidden;
}
._hitArea_1yr6s_29 {
  position: absolute;
  cursor: pointer;
  opacity: 0;
  border: 2px solid #fff9;
  border-radius: 4px;
  transition:
    opacity 0.7s,
    filter 0.7s,
    transform 0.7s;
  filter: blur(20px);
  transform: scale(1.1);
  box-shadow:
    0 0 6px #fff5,
    0 0 10px inset #fff5;
  perspective: 50vw;
  background: transparent;
}
._hitArea_1yr6s_29:hover,
._hitArea_1yr6s_29:focus {
  opacity: 1 !important;
  transition:
    opacity 0.4s,
    filter 0.4s,
    transform 0.4s;
  filter: none;
  transform: scale(1);
}
._line_1yr6s_34 {
  position: absolute;
  width: 9vw;
  height: 1px;
  left: -9vw;
  top: 1px;
  border-top: 2px solid #fff5;
  transform-origin: 100% 0;
  --lineRotation: 30deg;
  transform: rotate(var(--lineRotation)) scaleX(0);
  transition: transform 50ms;
  box-shadow: 0 0 6px #fff9;
  display: none;
  transition-behavior: allow-discrete;
}
._hitArea--right_1yr6s_100 ._line_1yr6s_34 {
  left: 100%;
  transform-origin: 0 0;
  --lineRotation: -30deg;
}
._hitArea_1yr6s_29:hover ._line_1yr6s_34,
._hitArea_1yr6s_29:focus ._line_1yr6s_34 {
  transform: rotate(var(--lineRotation)) scaleX(var(--lineScaleX));
  display: block;
}
._tooltip_1yr6s_33 {
  position: absolute;
  top: -6vw;
  left: calc(-30px + ((-370 + 30) * (100vw - 600px) / (1728 - 600)));
  z-index: 100;
  width: 350px;
  border: 2px solid #fff9;
  border-radius: 2px;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  padding: 0.5vw;
  justify-content: space-between;
  font-family: sohne-mono, monospace;
  font-size: 12px;
  text-transform: uppercase;
  transform-origin: 100% 3vw;
  transition:
    opacity 0.1s,
    transform 50ms;
  gap: 0.4vw;
  color: #fff;
  background: transparent;
  line-height: 1.1;
  background: #2123;
  box-shadow:
    0 0 10px #fff5,
    0 0 10px inset #fff5,
    0 0 80px #2125;
  text-shadow: 0 0 6px white;
  display: none;
  transition-behavior: allow-discrete;
}
._hitArea--right_1yr6s_100 ._tooltip_1yr6s_33 {
  left: auto;
  right: calc(-30px + ((-370 + 30) * (100vw - 600px) / (1728 - 600)));
  transform-origin: 0% 3vw;
}
@media (min-width: 1728px) {
  ._tooltip_1yr6s_33 {
    left: -400px;
  }
  ._hitArea--right_1yr6s_100 ._tooltip_1yr6s_33 {
    right: -400px;
  }
}
._tooltipCorners_1yr6s_157 {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  --cornerOffset: -0.4vw;
}
._tooltipCorner_1yr6s_157 {
  position: absolute;
  left: var(--cornerOffset);
  top: var(--cornerOffset);
  width: 0;
  height: 7px;
  border-left: 1px solid #fff9;
  box-shadow:
    0 0 10px #fff5,
    0 0 10px inset #fff5,
    0 0 80px #2125;
}
._tooltipCorner_1yr6s_157:after {
  content: "";
  position: absolute;
  width: 7px;
  left: -4px;
  top: 3px;
  border-top: 1px solid #fff9;
  box-shadow:
    0 0 10px #fff5,
    0 0 10px inset #fff5,
    0 0 80px #2125;
}
._tooltipCorner_1yr6s_157:nth-of-type(2) {
  right: var(--cornerOffset);
  left: auto;
}
._tooltipCorner_1yr6s_157:nth-of-type(3) {
  bottom: var(--cornerOffset);
  top: auto;
  right: var(--cornerOffset);
  left: auto;
}
._tooltipCorner_1yr6s_157:nth-of-type(4) {
  bottom: var(--cornerOffset);
  top: auto;
}
._tooltipHeader_1yr6s_206 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  text-align: right;
}
._tooltipFooter_1yr6s_213 {
  border-top: 1px dotted #fff8;
  padding-top: 5px;
}
._hitArea_1yr6s_29:hover ._tooltip_1yr6s_33,
._hitArea_1yr6s_29:focus ._tooltip_1yr6s_33 {
  opacity: 1;
  transform: none;
  display: block;
}
._fig_1yr6s_225 {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
}
._figPill_1yr6s_231 {
  border: 0.5px solid;
  border-radius: 50px;
  padding: 0.5px 4px 1.5px;
  line-height: 0.9;
  margin-left: 4px;
  margin-right: 20px;
}
._decoyLink_1yr6s_240 {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
._canvas_mwpob_1 {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  pointer-events: none;
}
